<div class="absolute left-0 top-0 z-40 flex h-screen w-screen items-center justify-center bg-black bg-opacity-80">
  <div class="w-1/2 max-w-[480px] rounded-lg bg-white p-4">
    <div class="flex h-full flex-col flex-wrap gap-3">
      @if (modalContent) {
        <div class="flex-grow">
          @if (modalContent.content.photo) {
            <img [src]="modalContent.content.photo" alt="Modal Image" class="h-auto w-full rounded-lg" />
          }
          @if (modalContent.content.title) {
            <h3>{{ modalContent.content.title }}</h3>
          }
          @if (modalContent.content.type) {
            <p>{{ modalContent.content.type }}</p>
          }
          @if (modalContent.content.description) {
            <p>{{ modalContent.content.description }}</p>
          }
        </div>
      }
      <div class="flex-grow-0">
        <div class="flex w-full gap-3">
          <button (click)="closeModal()" class="btn">Cerrar</button>
          @if (modalContent) {
            @if (modalContent.content.btnMore) {
              <a [href]="modalContent.content.btnMore" target="_blank" class="btn btn-primary">
                <span>Ver más <img [src]="'/assets/check.svg'" class="inline" alt="link" /></span>
              </a>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
