<div class="container">
  <div class="timer-range-content">
    <div class="input-range">
      <input
        (change)="onYearChange($event)"
        [max]="yearsLimits.endYear"
        [min]="yearsLimits.startYear"
        [step]="step"
        id="year-selected"
        list="mark-years"
        name="year-selected"
        type="range"
      />
      @if (steps) {
        <datalist class="mark-years" id="mark-years">
          @for (step of steps; track step) {
            <option [label]="step" [value]="step">{{ step }}</option>
          }
        </datalist>
      }
    </div>
  </div>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
