$bg-color-dot-slider: #9a1122;
$bg-color-dot-slider-alpha: rgba(154, 17, 34, 0.27);
$bg-color-slider: #c4c7c7;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

/*********** Baseline, reset styles ***********/
.mark-years {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 16.349px;

  option {
    display: inline-block;
    font-size: 0.8rem;
    width: 30px;
    padding: 0;
  }
}

.input-range-selector {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5px;

  &:focus {
    outline: none;
    transition: 500ms ease-in-out;
  }

  &::-webkit-slider-runnable-track {
    background-color: $bg-color-slider;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: $bg-color-dot-slider;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  &:focus::-webkit-slider-thumb {
    outline: 8px solid $bg-color-dot-slider-alpha;
  }

  &::-moz-range-track {
    background-color: $bg-color-slider;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  &::-moz-range-thumb {
    background-color: $bg-color-dot-slider;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  &:focus::-moz-range-thumb {
    outline: 8px solid $bg-color-dot-slider-alpha;
  }
}
